@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
*, html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #fff;
  height: 80px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  width: 100%;
}
header .contLogoHeader {
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
header .contLogoHeader img {
  height: 60px;
}

.menuToggle {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
  font-size: 36px;
  color: #595959;
  height: 30px;
  width: 30px;
}
.menuToggle ion-icon[name=menu-outline] {
  display: inline-block;
  transition: all 0.3s ease;
}
.menuToggle ion-icon[name=close-outline] {
  display: none;
}
.menuToggle.open ion-icon[name=menu-outline] {
  display: none;
}
.menuToggle.open ion-icon[name=close-outline] {
  display: inline-block;
}

.contHeader {
  height: 100vh;
  width: 80%;
  background-color: #252E37;
  font-family: "Open Sans", sans-serif;
  transition: all 0.3s ease;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  transform: translateX(100%);
}
.contHeader.headerActive {
  transform: translateX(0);
}
.contHeader h1 {
  display: none;
}
.contHeader .contLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}
.contHeader .contLogo img {
  height: 90px;
}
.contHeader .contLista {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
  margin-top: 20px;
  width: 100%;
  font-size: 18px;
  font-weight: 500;
}
.contHeader .contLista .links {
  height: auto;
  min-height: 45px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-bottom: 1px solid #E5E5E5;
  transition: all 0.2s ease-out;
}
.contHeader .contLista .links ion-icon {
  transition: all 0.2s ease-out;
}
.contHeader .contLista .links.active {
  padding-top: 10px;
}
.contHeader .contLista .links.active ion-icon {
  transform: rotate(90deg);
}
.contHeader .contLista .links.active > .listaDesplegable {
  display: block;
}
.contHeader .contLista .links.active > .listaDesplegable .linkDesplegable {
  background-color: #6C757D;
}
.contHeader .contLista .links > a {
  padding-left: 30px;
  text-decoration: none;
  color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding-right: 23px;
}
.contHeader .contLista .links > a ion-icon {
  padding-top: 3px;
}
.contHeader .contLista .links .listaDesplegable {
  display: none;
  list-style: none;
  margin-top: 10px;
  width: 100%;
}
.contHeader .contLista .links .listaDesplegable .linkDesplegable {
  display: flex;
  align-items: center;
  height: auto;
  min-height: 45px;
  border-bottom: 1px solid #E5E5E5;
}
.contHeader .contLista .links .listaDesplegable .linkDesplegable:first-child {
  margin-top: 0;
  border-top: 1px solid #E5E5E5;
}
.contHeader .contLista .links .listaDesplegable .linkDesplegable:last-child {
  border: none;
}
.contHeader .contLista .links .listaDesplegable .linkDesplegable a {
  padding-left: 50px;
  text-decoration: none;
  color: #fff;
}

footer {
  position: static;
  bottom: 0;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F8F9FA;
  font-family: "Open Sans", sans-serif;
  color: #595959;
  box-shadow: 0 0 13px rgba(0, 0, 0, 0.3);
}
footer h4 {
  font-size: 14px;
  font-weight: 400;
}

.mainHome {
  padding: 30px;
  margin-top: 80px;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mainHome h5 {
  font-size: 20px;
  color: #222222;
  font-weight: 400;
}
.mainHome h2 {
  font-weight: 300;
  text-align: center;
  font-size: 55px;
  margin-top: 20px;
  line-height: 1.1;
  color: #222222;
}
.mainHome h2 span {
  font-family: "Playfair Display", serif;
  color: #03a9f4;
  font-style: italic;
}
.mainHome p {
  font-size: 20px;
  text-align: center;
  color: #595959;
  margin-top: 20px;
  font-weight: 300;
  margin-bottom: 30px;
}
.mainHome .contImagenes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
}
.mainHome .contImagenes img {
  max-width: 100%;
  height: auto;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.mainNosPresentamos {
  padding: 90px 20px 20px 20px;
  font-family: "Open Sans", sans-serif;
}
.mainNosPresentamos h1 {
  font-size: 28px;
  color: #595959;
  margin-bottom: 20px;
}
.mainNosPresentamos p {
  text-align: center;
  font-size: 18px;
  color: #222222;
  background-color: #F8F9FA;
  padding: 20px;
}
.mainNosPresentamos ul {
  list-style: none;
  background-color: #F8F9FA;
  padding-left: 20px;
}
.mainNosPresentamos ul li {
  font-size: 18px;
}
.mainNosPresentamos .contImg {
  text-align: center;
  margin-top: 20px;
}
.mainNosPresentamos .contImg img {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}

.comisionDirectiva {
  height: 900px;
}

.btn {
  height: 45px;
  width: 190px;
  border-radius: 10px;
  background-color: #03a9f4;
  border: none;
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.6);
}
.btn a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
}