
$colorPrimary: #03a9f4; // Color principal (botones, enlaces, destacados)
$colorSecondary: #252E37; // Color secundario (Header Responsive)
$colorHover: #00A0D2; // Hover o acentos secundarios
$colorFondo: #F8F9FA; // Fondo gris muy claro (casi blanco)
$colorTextPrimary: #222222; // Texto principal
$colorTextSecondary: #595959; // Texto secundario / descripciones
$colorBorder: #E5E5E5; // Bordes y separadores
$colorGrisClaro: #6C757D; // Gris claro